@model BVS.ViewModels.Patients.PatientSearchViewModel

@{
    var grid = new WebGrid( Model.Patients, defaultSort: "LastName" );
    ViewBag.Title = "Users";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
    <li class="active">Patient List</li>
</ol>
<h1>Patients</h1>

<div class="panel panel-default r3-shadow">
    <div class="panel-heading">
        <div class="text-right">
            <a class="btn btn-primary" href="@Url.Action( "Create" )">Add Patient</a>
        </div>
    </div>
    <div class="panel-body">
        @MvcHtmlString.Create(
    grid.GetHtml( tableStyle: "webGrid", headerStyle: "webGridHeader", alternatingRowStyle: "webGridAlt",
        columns: new[] { grid.Column( "Link", "Link", (item) => Html.ActionLink( "Select", "Details", "Patient", new { id = item.ID }, null ) ), grid.Column( "EmailAddress", "Email Address" ), grid.Column( "FirstName", "First Name" ), grid.Column( "LastName", "Last Name" ), } ).ToHtmlString()
)
    </div>
</div>